

body {
   font-family: "Roboto Condensed";
   line-height: 1.4;
}

.event {
   color: firebrick;
}


a.warn {
   color: firebrick;
}

a {
   color: #007AB8;
}

.btn-outline-primary {
   color: #007AB8;
   border-left-color: #007AB8;
   border-right-color: #007AB8; 
   border-top-color: #007AB8;
   border-bottom-color: #007AB8;
}

#page {
   background-color: white;
   padding: 2em 3em 2em 3em;
}

.abstract {
   text-align: justify;
}

.imagecap {
   font-size: 0.8em;
   text-align: center;
}

h1 {
   font-family: "Roboto Slab";
   font-weight: bold;
   color: #333333;
}

h4 {
   color: #333333;
}

h3 {
   font-family: "Roboto Condensed", sans-serif;
   font-weight: bold;
   color: #333333;
}

h2 {
   font-family: "Roboto Condensed", sans-serif;
   font-weight: bold;
   color: #333333;
}

img.center { 
   display: block;
   margin-left: auto;
   margin-right: auto;
}

a.activelink {
   color: #B22222;
}

span.activelink {
   color: #B22222;
}

span.nocontent {
   color: #212529;
}

.verbatim { font-size: 0.8em; font-family: monospace; background:#ebebeb; border:#cccccc 2px dotted;
      margin:0px 0px 20px 0px; padding: 10px 20px; }

.nowrap {
       white-space: nowrap;
}


.pic {
    border: 1px solid #021a40;
    width: 75%;
}

p.name {
   margin-top: 0;
   margin-bottom: 0;
   font-size: 115%;
}

.research {
   margin-top: 0.1em;
   margin-bottom: 0;
}

.tight {
   margin-top: 0;
   margin-bottom: 0.2em;
}

.highlight {
   text-align: left;
}

.fontsmall {
   font-size: 80%;
}

.subtitle {
    color: black;
}

