---
layout: default
---

<div class="post">

    <!--header class="post-header">
    {% assign name = site.title | split: ' ' %}
    {% assign firstname = name | first %}
    {% if name.size > 2 %}
       {% assign middlenames =  name | slice:1, name.size-1 | join:" " %}
    {% else %}
       {% assign middlenames = '' %}
    {% endif %}
    {% assign lastname = name | last %}
    <a class="navbar-brand title font-weight-lighter" href="{{ site.baseurl | prepend: site.url }}/">
     <span class="font-weight-bold">{{ firstname }}</span> {{ middlenames }}  {{ lastname }}
    </a>
  </header-->

  <article>
    <div class="row">
      <div class="slideshow">
        
           <div class="splide">
             <div class="splide__track">
	       <ul class="splide__list">
		 <li class="splide__slide"><img src="/assets/img/photos/husky_utm_2020.png"></li>
	         <li class="splide__slide"><img src="/assets/img/photos/utah_flying_1.png"></li>
	         <li class="splide__slide"><img src="/assets/img/photos/visual_search_diver_tracking_iros_2020.png"></li>
	         <li class="splide__slide" data-splide-youtube="https://www.youtube.com/watch?v=DvWVC5R0zqs"></li>
	       </ul>
             </div>
           </div>

	   <br></br>
	   <h2>research themes</h2>
    
    
    <div class="projects grid">

      <div class="grid-item">
        <div class="card hoverable">
          <div class="card-body">
            <h5 class="card-title text-lowercase">autonomous robots for environmental monitoring</h5>
	    <p class="card-text">robots for scientific exploration</p>
            <p class="card-text">visual exploration</p>
	    <p class="card-text">visual similarity search</p>
	    <p class="card-text">contrastive representation learning</p>
	    <p class="card-text">3d vision and perception</p>
	    <p class="card-text">active sampling and information gathering</p>
            <p class="card-text">collaborative human-robot environmental monitoring</p>
            <p class="card-text">field robotics</p>
            <div class="row ml-1 mr-1 p-0">
            </div>
          </div>
        </div>
      </div>


      <div class="grid-item">
        <div class="card hoverable">
          <div class="card-body">
            <h5 class="card-title text-lowercase">machine learning for planning and control</h5>

            <p class="card-text">vision-based imitation learning</p>
            <p class="card-text">bayesian inverse reinforcement learning</p>
            <p class="card-text">planning and control under uncertainty in cost and dynamics</p>
            <p class="card-text">shared human-robot autonomy</p>
            <p class="card-text">continual/lifelong learning for control</p>
	    <p class="card-text">differentiable simulators</p>
            <p class="card-text">simulation-based inference</p>
            <p class="card-text">system identification</p>
            
	    <div class="row ml-1 mr-1 p-0">
            </div>
          </div>
        </div>
      </div>


      <div class="grid-item">
        <div class="card hoverable">
          <div class="card-body">
            <h5 class="card-title text-lowercase">safe robot learning</h5>
            
            <p class="card-text">safe exploration in reinforcement learning</p>
            <p class="card-text">physical adversarial examples in robotics</p>
            <p class="card-text">backwards reachability</p>
	    <p class="card-text">robust control</p>
	    <p class="card-text">safe system identification</p>
	    
            <div class="row ml-1 mr-1 p-0">
            </div>
          </div>
        </div>
      </div>
      
    </div>

        
      </div>
  
      <div class="col-4">
        <div class="news-front-page">
	  <h2>news</h2>
          {% include news.html %}
          </div>         
      </div>
       
  </div>

    
    
  </article>

</div>
