---
---

<div class="row">
  <div class="col-sm-2 abbr">
  {% if entry.abbr %}
    {% if site.data.venues[entry.abbr] %}
    <abbr class="badge"><a href="{{site.data.venues[entry.abbr].url}}" target="_blank">{{entry.abbr}}</a></abbr>
    {% else %}
    <abbr class="badge">{{entry.abbr}}</abbr>
    {% endif %}
  {% endif %}
  </div>

  <div id="{{entry.key}}" class="col-sm-8">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      <span class="title"><b>{{entry.title}}</b></span>
      <span class="author">
        {% for author in entry.author_array %}
          {% if forloop.length == 1 %}
              {{author.first}} {{author.last}}
          {% else %}
            {% unless forloop.last %}
                {% if site.data.coauthors[author.last] %}
                  <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first}} {{author.last}}</a>,
                {% else %}
                  {{author.first}} {{author.last}},
                {% endif %}
              
            {% else %}
                {% if site.data.coauthors[author.last] %}
                  and <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first}} {{author.last}}</a>
                {% else %}
                  and {{author.first}} {{author.last}}
                {% endif %}
              
            {% endunless %}
          {% endif %}
        {% endfor %}
      </span>

      <span class="periodical">
      {% if entry.type == "article" %}
        <em>{{entry.journal}}</em>
      {% elsif entry.type == "inproceedings" %}
        <em>In {{entry.booktitle}}</em>
      {% endif %}
      {% if entry.year %}
        {{entry.year}}
      {% endif %}
      </span>
    {% endif %}

    <span class="links">
    {% if entry.abstract %}
      [<a class="abstract">abstract</a>]
    {% endif %}
    {% if entry.eprint %}
      [<a href="http://arxiv.org/abs/{{ entry.eprint }}" target="_blank">pdf</a>]
    {% endif %}
    {% if entry.html %}
      [<a href="{{ entry.html }}" target="_blank">pdf</a>]
    {% endif %}
    {% if entry.pdf %}
      [<a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}" target="_blank">pdf</a>]
    {% endif %}
    [<a class="bibtex" href="javascript:void(0)">bibtex</a>]
    {% if entry.supp %}
      [<a href="{{ entry.supp | prepend: '/assets/pdf/' | relative_url }}" target="_blank">supp</a>]
    {% endif %}
    {% if entry.poster %}
      [<a href="{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}" target="_blank">poster</a>]
    {% endif %}
    {% if entry.slides %}
      [<a href="{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}" target="_blank">slides</a>]
    {% endif %}
    {% if entry.code %}
      [<a href="{{ entry.code }}" target="_blank">code</a>]
    {% endif %}
    {% if entry.video %}
      [<a href="{{ entry.video }}" target="_blank">video</a>]
    {% endif %}
    {% if entry.project %}
      [<a href="{{ entry.project }}" target="_blank">project</a>]
    {% endif %}
    
    </span>

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <span class="abstract hidden">
      <p>{{ entry.abstract }}</p>
    </span>
    {% endif %}

    <span class="bibtex hidden">
      <p>{{ entry.bibtex }}</p>
    </span>
  </div>
</div>
